@font-face {
	font-family: FantasqueSansMono;
	src: url(assets/FantasqueSansMNerdFontMono-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.1;
}

.terminal {
	height: 100vh;
	outline: none;
	white-space: pre;
	font-family: FantasqueSansMono, monospace;
	font-size: 20px;
	background-color: #1f2430;
	color: #fff;
	-webkit-font-smoothing: subpixel-antialiased;
	backface-visibility: hidden;
	will-change: transform;
	transform: translateZ(0);
}

br {
	line-height: 1.3;
}
