* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	height: 100%;
}

body ::-webkit-scrollbar {
	width: 0px;
}

.row {
	font-family: monospace;
	font-size: 18px;
}

.row.prompt {
	display: flex;
	white-space: pre;
	flex-direction: row;
}

.row.prompt input {
	flex-grow: 1;
	font-family: monospace;
	font-size: 18px;
	border: none;
}

a {
	text-decoration: none;
}
